@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parisienne&display=swap');

:root {
    /* Cores */
    --cor-primaria: #1d3557;
    --cor-secundaria: #76c893;
    --cor-terciaria: #f1faee;
    --branco: #FFF;
    --preto: #000;
    /* Fontes */
    --fonte-primaria: "Lato", sans-serif;
    --fonte-secundaria: "Parisienne", cursive;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 2rem 1rem;
}

#titulo {
    font-size: 5rem;
    font-family: var(--fonte-secundaria);
    text-align: center;
}

#lista-contatos {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-contatos a{
    font-size: 2rem;
    color: var(--cor-terciaria);
    transition: .3s ease-in-out;
}

.item-contatos a:hover {
    color: var(--cor-secundaria);
}

main {
    max-width: 1000px;
    margin: 3rem auto;
}

#lista-componentes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.item-componente {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-terciaria);
    border-radius: 8px;
    position: relative;
}

#item-componente1,
#item-componente2 {
    background-color: var(--branco);
}

.item-componente-contador {
    position: absolute;
    left: 50%;
    top: 7px;
    transform: translateX(-50%);
    color: var(--cor-secundaria);
    font-weight: 600;
}

#componente1 {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 16px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    letter-spacing: 4px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#componente1:hover {
    color: #FFF;
    background-color: #76c893;
    box-shadow: var(--cor-secundaria) 0px 3px 8px;
    transform: translateY(-10px);
}

#componente2 {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #e63946;
    color: var(--branco);
    outline: none;
    box-shadow: #96252f 0px 7px 2px, #000 0px 8px 5px;
    letter-spacing: 4px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#componente2:active {
    box-shadow: #96252f 0px 3px 2px,#000 0px 3px 5px;
    transform: translateY(5px);
}